<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
	{{#if pageTitle}}
		{{pageTitle}} &mdash; PGC Document Tracking System
	{{else}}
		PGC Document Tracking System
	{{/if}}
	</title>
	<link rel="stylesheet" type="text/css" href="/virtualpath/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/virtualpath/css/style.min.css">
</head>
<body>
	{{{body}}}
	<script type="text/javascript" src="/virtualpath/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/virtualpath/js/materialize.min.js"></script>
	<script type="text/javascript" src="/virtualpath/js/main.js"></script>
</body>
</html>